:root {
    --white: #FFFCF0;
    --med-blue: #a4c5c6;
    --purple: #856c8b;
    --gray: #E4E4E4;
    --light-blue: #d4ebd0;
}

.dashboardHeader {
    height: 100px;
}

.header__blue {
    margin: 30px 0;
    height: 40px;
    background-color: var(--med-blue);
}

.dashboardLogo__image {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 90px;
}

.topContainer {
    display: flex;
}

.columnLeft {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.columnRight{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.friendsList {
    height: 65%;
    background-color: cornsilk;
    margin: 0 5%;
}

.friendsList__Item {
    border: 1px dotted black;
}

.nextEvents {
    border: 1px solid black;
    height: 35%;

}
.nextEvents__Item {
    border: 1px dotted black;

}   
.articlesList {
    border: 1px solid black;
    display: flex;
    height: 25%;
    overflow: scroll;
}
.articlesList__Item {
    border: 1px dotted black;
    width: 30%;
    overflow: scroll;
}

.messagesBoard {
    border: 1px solid black;
    height: 40%;
}

.messageList {
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

.messagesList__Item {
    border: 1px dotted black;
}

.list__Item__Input {
    width: 70%;
}

.messageButton {
    width: 30%;
}

.eventsList {
    border: 1px solid black;
    display: flex;
    height: 35%;
}

.eventsList__Item {
    border: 1px dotted black;
}

.tasksList {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.tasksList__Item {
    border: 1px dotted black;

}