:root {
    --white: #FFFCF0;
    --med-blue: #a4c5c6;
    --purple: #856c8b;
    --gray: #E4E4E4;
    --light-blue: #d4ebd0;
}

@import url("registration.css");

body {
    background-color: var(--gray);
    font-family: "Noto Sans JP", sans-serif;
}

footer {
    background-color: var(--purple);
    color: var(--white);
    height: 80px;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    text-justify: center;
}

#container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.welcome {
    height: 400px;
    border-bottom: 3px solid var(--med-blue);
}

.login__options {
    display: flex;
    flex-direction: row;
}

.loginHere {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid var(--med-blue);
    padding: 1.5rem 0;
}

.registerHere {
    flex: 1;
    text-align: center;
    text-justify: center;
    padding: 2rem 0;
}

.login__input {
    display: block;
    width: 60%;
    margin: .7rem auto;
    background-color: var(--white);
    border: 1px solid var(--med-blue);
    border-radius: 5px;
    padding: .3rem;
}

.login__input::placeholder{
    color: var(--med-blue);
}

.login__button {
    background-color: var(--med-blue);
    color: var(--white);
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: .5rem auto;
        font-family: "Noto Sans JP",
        sans-serif;

}

.login__button:hover {
    background-color: var(--purple);
}

.registerLink {
    display: block;
}

.registrationForm {
    text-align: center;
    border-top: 3px dashed var(--med-blue);
    padding: 1rem 0 2rem;
}

.registrationForm__input {
    display: block;
    width: 60%;
    margin: 1rem auto;
    background-color: var(--white);
    border: 1px solid var(--med-blue);
    border-radius: 5px;
    padding: .3rem;
}

.registrationForm__input::placeholder {
    color: var(--med-blue);
}

.hidden {
    display: none;
}